/mgloxinia.X/dist/default/
workspace.xml
venv/
*.pyc

# ignore for MPLAB IDE 5
*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
nbproject/private/
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Makefile-genesis.properties

# VS code ignore
.vscode

# ignore experiments data
*.pkl
*.raw.txt

# kicad ignore
*.dcm
experiment/trial*/data/data-*.txt
*.npy
*.gbr
*.zip
*.drl
*.gbl
*.gbs
*.gbo
*.gm1
*.gtl
*.gts
*.gto
*.gbp
*.gtp
*-bak
*.bak
*-rescue.lib
*-rescue.bck
*-cache.lib

# experimentation files
experiment/*.txt
experiment/*/*/*.txt

# STL files
*.stl

# Jupyter notebooks
**/.ipynb_checkpoints/*

sensor_layout.pdf
*.log
*.aux
*.gz

# PyCharm
.idea/
pygloxinia/filter_design/planalta/
pygloxinia/filter_design/sylvatica/
src/dicio.X/.generated_files/
src/planalta.X/.generated_files/
src/sylvatica.X/.generated_files/

concept/board_pcb_structure.pdf
concept/front_view.pdf
_autosave-*

# Exported BOM files
*.xml
*.csv

# Electron GUI
gui_electron/dist/
gui_electron/node_modules/

firmware/dicio.X/.generated_files/
firmware/dicio.X/build/
firmware/dicio.X/dist/
firmware/dicio.X/nbproject/Makefile-*
firmware/dicio.X/nbproject/Package-*
firmware/planalta.X/.generated_files/
firmware/planalta.X/build/
firmware/planalta.X/dist/
firmware/planalta.X/nbproject/Makefile-*
firmware/planalta.X/nbproject/Package-*
firmware/sylvatica.X/.generated_files/
firmware/sylvatica.X/build/
firmware/sylvatica.X/dist/
firmware/sylvatica.X/nbproject/Makefile-*
firmware/sylvatica.X/nbproject/Package-*

pcb_design/dicio/gerber-dicio/
pcb_design/planalta/gerber-planalta/
pcb_design/sylvatica/gerber-sylvatica/
pcb_design/racemosa/gerber-racemosa/
pcb_design/reflexa/gerber-reflexa/

*-rescue.dcm
*-rescue.lib
fp-lib-table
*.zip
sym-lib-table
pcb_design/dicio_pic32/gerber/

# GUI Qt
gui_qt/build-*


pcb_design/reflexa/gerber/
*.step
firmware/dicio2.X/.generated_files/
firmware/sylvatica2.X/.generated_files/
firmware/dicio2.X/debug/default/queuelogs/debugtool
pcb_design/samtec/how-to-import.htm
firmware/can_bootloader.X/.generated_files/
firmware/fatfs/
firmware/mcc_generated_files/
